{% extends 'common/base.html' %}
{% block content %}
{% load static %}
    <main>
      <div class="profile">
        <div class="profile-data">
          <div class="profile_img">
            <div class="image">
              <img src="{{ object.profile_picture }}" alt="img8" />
            </div>
          </div>
          <div class="personal">
            <div class="edit">

              <a href="{% url 'profile-edit' pk=request.user.pk %}">
                <img
                  class="edit-img"
                  src="{% static '/images/edit-pen-icon-6.jpg' %}"
                  alt="edit button"
                />
              </a>

              <!-- Link to Delete Profile Page -->
              <a href="{% url 'profile-delete' pk=request.user.pk %}">
                <img
                  class="bin-img"
                  src="{% static '/images/icon-remove-22.jpg' %}"
                  alt="bin button"
                />
              </a>
              <!-- End IF the viewer is the owner of the profile -->
            </div>
            <div class="data">
              <span>{{ photos_count }}</span>
              <p>photos</p>
              <span>{{ pets_count }}</span>
              <p>pets</p>

              <!-- Total Number of Likes for the User -->
              <span>436</span>
              <p>likes</p>
            </div>
            <h3 class="names">{{ object.first_name }} {{ object.last_name }}</h3>
            <p class="email">{{ object.date_of_birth }}</p>
            <p class="email">{{ object.user.email }}</p>
          </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->

        <div class="pets">
          <div class="statuses">
            {% for pet in own_pets %}
            <a href="{% url 'pet-show' pk=request.user.pk pet_slug=pet.slug %}">
              <div class="head-pet">
                <div class="status">
                  <div class="image">
                    <!-- Pet Image -->
                    <img
                      src="{{ pet.pet_photo }}"
                      alt="pet img"
                    />
                  </div>
                </div>
                <p>{{ pet.name }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
          {% for photo in photos %}
            <div class="pet-photos">
                <a href="{% url 'photo-details' pk=photo.id %}">
                  <img src="{{ photo.photo.url }}"  alt="{{ own_pets.first }}" />
                </a>
            </div>
          {% empty %}
            <img class="no-posts" src="{% static '/images/no_posts.png' %}"  alt="no posts"/>
          {% endfor %}



      </div>
    </div>

    </main>

{% endblock %}
