{% extends 'common/base.html' %}
{% block content %}
{% load static %}
    <main>
      <div class="profile">
        <div class="profile-data">
          <div class="profile_img">
            <div class="image">
              {% if object.profile_picture %}
                <img src="{{ object.profile_picture }}" alt="img8" />
              {% else %}
                <img src="{% static 'images/user.png' %}" alt="img8" />
              {% endif %}
            </div>
          </div>
          <div class="personal">

            <!-- Start IF the viewer is the owner of the profile -->
            {% if request.user.pk == object.user.pk %}
            <div class="edit">

              <a href="{% url 'profile-edit' pk=request.user.pk %}">
                <img
                  class="edit-img"
                  src="{% static '/images/edit-pen-icon-6.jpg' %}"
                  alt="edit button"
                />
              </a>

              <!-- Link to Delete Profile Page -->
              <a href="{% url 'profile-delete' pk=request.user.pk %}">
                <img
                  class="bin-img"
                  src="{% static '/images/icon-remove-22.jpg' %}"
                  alt="bin button"
                />
              </a>

            </div>
            {% endif %}
            <!-- End IF the viewer is the owner of the profile -->
            <div class="data">
              <span>{{ photos_count }}</span>
              <p>photos</p>
              <span>{{ pets_count }}</span>
              <p>pets</p>

              <!-- Total Number of Likes for the User -->
              <span>{{ photo_likes }}</span>
              <p>likes</p>
            </div>

            <h3 class="names">
              {% if object.first_name %}
                <span>{{ object.first_name }} </span>
              {% endif %}
              {% if object.last_name %}
                <span>{{ object.last_name }} </span>
              {% endif %}
            </h3>
            {% if object.date_of_birth %}
              <p class="email">{{ object.date_of_birth }}</p>
            {% endif %}
            <p class="email">{{ object.user.email }}</p>


          </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->

        <div class="pets">
          <div class="statuses">
            {% for pet in own_pets %}
            <!-- Link to the pet profile for each pet. The pk is the pk of the owner, not the pk of the current user -->
            <a href="{% url 'pet-show' pk=pet.owner.pk pet_slug=pet.slug %}">
              <div class="head-pet">
                <div class="status">
                  <div class="image">
                    <!-- Pet Image -->
                    <img
                      src="{{ pet.pet_photo }}"
                      alt="pet img"
                    />
                  </div>
                </div>
                <p>{{ pet.name }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
          {% for photo in photos %}
            <div class="pet-photos">
                <a href="{% url 'photo-details' pk=photo.id %}">
                  <img src="{{ photo.photo.url }}"  alt="{{ own_pets.first }}" />
                </a>
            </div>
          {% empty %}
            <img class="no-posts" src="{% static '/images/no_posts.png' %}"  alt="no posts"/>
          {% endfor %}
      </div>
    </div>

    </main>

{% endblock %}
