{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<main>

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>
            <form action="" method="post">
                {{ form }}
                {% csrf_token %}
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'profile-login' %}">Log in</a></p>
        </div>
    </div>
</main>

{% endblock %}