{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<main>
    <div class="edit-delete edit-photo">
        <h2>Delete pet</h2>
        <form method="post" action="{% url 'pet-delete' username=user.username pet_slug=pet.slug %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="delete-btn" type="submit">Delete</button>
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
        </form>
    </div>
</main>
{% endblock %}