{% load static %}
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'home-page' %}">
                    <img width="50px" src="{% static '/images/free-30-instagram-stories-icons23_122570.png' %}" alt="img1">
                </a>

                <!-- Link to Home Page -->
                <a class="home" href="{% url 'home-page' %}" >
                    <i>Petstagram</i>
                </a>
            </div>

            <div class="nav-links">
                <ul class="nav-group">
                    <li class="nav-item">

                        <!-- Link to Add Pet Page -->
                        <a href="{% url 'pet-add' %}">
                            <i>Add Pet</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'photo-add' %}">
                            <i>Add Photo</i>
                        </a>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'profile-login' %}">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile-register' %}">
                                <i>Register</i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'profile-show' pk=1 %}">
                                <i>Profile</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile-logout' %}">
                                <i>Log out</i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>



