{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">


            <!-- Start Searchbar Form -->
            <form class="searchbar" method="post">
                <input type="text" placeholder="Search by pet name...">
                <button>
                    <img src="{% static '/images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->

            {% for photo in all_photos %}
            <!-- Start First Pet Photo Post -->
            <div class="card">

                <!-- Start User Details and Image Location -->
                <div class="top">
                    <div class="userDetails">
                        <!-- Link to User Profile Page -->
                        <a href="{% url 'profile-show' pk=1 %}">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="{% static '/images/person.png' %}" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <h3>
                            <!-- Link to User Profile Page -->
                            <a href="{% url 'profile-show' pk=1 %}">
                                <!-- if user has first name and last name -->
                                Diyan Kalaydzhiev
                                <!-- else -->
                                <!-- show user username -->
                            </a>
                            <br>
                            <!-- if the photo has location -->
                            <span>Bansko, Bulgaria</span>
                        </h3>
                    </div>
                </div>
                <!-- End User Details and Image Location -->

                <!-- Start Pet Photo -->
                <div class="imgBx" id="place the id of the photo here">
                    <img src="/media/pet_photos/e91cd26a89972682913156cd966ab2de.jpg" alt="test" class="cover">

                    <img src="{{ photo.photo.url }}" alt="post" class="cover">
                </div>
                <!-- End Pet Photo -->

                <!-- Start Like and Share Buttons -->
                <div class="bottom">
                    <div class="actionBtns">
                        <div class="left">
                            <!-- Start Like Button -->
                            <span class="heart">
                                <a href="#">
                                    <!-- if user has liked the photo -->
                                    <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                    <!-- else -->
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </span>
                            <!-- End Like Button -->

                            <!-- Start Share Button -->
                            <a href="#">
                                <i class="fa-solid fa-share"></i>
                            </a>
                            <!-- End Share Button -->

                        </div>
                    </div>
                    <!-- End Like and Share Buttons -->

                    <!-- Number of Likes per Photo -->
                    <p class="likes">203 likes</p>


                    <!-- Start Tagged Pets -->
                    <!-- Link to First Tagged Pet Details Page-->
                    <a href="#">
                        <p class="message">
                            <b>Sasho</b>
                        </p>
                    </a>

                    <!-- Link to Second Tagged Pet Details Page-->
                    <a href="#">
                        <p class="message">
                            <b>Some other fish</b>
                        </p>
                    </a>
                    <!-- End Tagged Pets -->

                    <!-- Link to Photo Details Page -->
                    <a href="#">
                        <h4 class="details">See details</h4>
                    </a>

                    <!-- Date of Publication -->
                    <h5 class="postTime">19/09/2022</h5>

                    <!-- Start Add Comments Section -->
                    <div class="addComments">

                        <!-- Start Add Comments Form -->
                        <form method="post" action="#">
                            <label for="id_body">Body:</label>
                            <textarea name="body" cols="40" rows="10" placeholder="Add comment..." maxlength="300"
                                      required="" id="id_body"></textarea>
                            <button type="submit">Post</button>
                        </form>
                        <!-- End Add Comments Form -->

                    </div>
                    <!-- End Add Comments Section -->

                </div>
            </div>

            {% endfor %}
            <!-- End Pet Photos Post Section -->

        </div>
    </div>
</main>
<!-- End Main Section -->
{% endblock %}
