{% block content %}
{% load static %}
    {% for pet_photo in all_photos %}
    <div class="card">
        <div class="top">
            <div class="userDetails">
                <a href="{% url 'profile-show' pk=1 %}">
                    <div class="profilepic">
                        <div class="profile_img">
                            <div class="image">
                                <img src="{% static '/images/person.png' %}" alt="img8">
                            </div>
                        </div>
                    </div>
                </a>
                <h3>
                    <a href="{% url 'profile-show' pk=1 %}">
                        {% if user.is_authenticated %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Petstagram User
                        {% endif %}
                    </a>
                    <br>
                    {% if pet_photo.location %}
                    <!-- if the photo has location -->
                    <span>{{ pet_photo.location }}</span>

                    {% endif %}
                </h3>
            </div>
            <!--  -->
        </div>
        <!-- Post image -->
        <div class="imgBx" id="{{ pet_photo.pk }}">
            <img src="{{ pet_photo.photo.url }}" alt="post" class="cover">
        </div>
        <!-- -->

        <div class="bottom">
            <!-- like and share buttons -->
            <div class="actionBtns">
                <div class="left">
                        <span class="heart">
                            <a href="{% url 'like' pet_photo.id %}">
                                <!-- if user has liked the photo -->
                                {% if pet_photo.photolike_set.all %}
                                <i class="fa-solid fa-heart" style="color: #ed4040;"></i>

                                {% else %}
                                <!-- else -->
                                <i class="fa-regular fa-heart"></i>

                                {% endif %}
                            </a>
                        </span>
                    <a href="{% url 'share' pet_photo.id %}">
                        <i class="fa-solid fa-share"></i>
                    </a>
                    <!-- End Share Button -->
                </div>
            </div>
            <!-- End Like and Share Buttons -->

            <!-- Number of Likes per Photo -->

            <a href="#">
                <p class="likes">{{ pet_photo.photolike_set.count }} likes</p>
            </a>

            <!-- Links to All Tagged Pets Details Page-->
            {% for pet_obj in pet_photo.tagged_pets.all %}
                <a href="{% url 'pet-show' pet_slug=pet_obj.slug %}">
                    <p class="message">
                        <b>{{ pet_obj.name }}</b>
                    </p>
                    <p class="message">
                        <b>{{ pet_photo.description }}</b>
                    </p>
                </a>
            {% endfor %}
            <!--  -->

            <a href="{% url 'photo-details' pk=pet_photo.id %}">
                <h4 class="details">See details</h4>
            </a>

            <h5 class="postTime">{{ pet_photo.publication_date }}</h5>

            <!-- add comments section -->
            <div class="addComments">
                <form method="post" action="{% url 'comment' pet_photo.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button type="submit">Post</button>
                </form>
            </div>
            <!--  -->
        </div>
    </div>
    {% endfor %}

{% endblock %}