{% extends 'common/base.html' %}
{% block content %}
{% load static %}

{% include 'common/header.html' %}

<!-- Shows automatically when DEBUG == False -->
<!-- Using DEBUG = False always add ALLOWED_HOSTS = ['localhost', '127.0.0.1'] in settings.py -->
<!-- Run server using  'python manage.py runserver --insecure' to display this page properly -->
<main>
    <!-- 404 page -->
    <div class="not-found-img">
        <img src="{% static 'images/zillow-404-page-5f3ed6a6abaa5.gif' %}" alt="404 not found gif">
        <a href="404.html">404</a>
    </div>

    <a href="404.html">404</a>

    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>

        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
        <a href="{% url 'home-page' %}">
            <button>Return to Petstagram</button>
        </a>
    </div>

</main>

{% endblock %}