{% extends 'common/base.html' %}
{% block content %}
{% load static %}

<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Pet Photo Post Section -->
            <div class="card">
                <div class="top">

                    <!-- Start Pet Photo Owner Details and Image Location Section -->
                    <div class="userDetails">

                        <!-- !!!Link to Pet Photo Owner Profile Details Page!!! -->
                        <!-- If a photo is not connected to a pet/user profile, we cannot access this data -->
                        {% if pet_photo.tagged_pets.first %}
                            <a href="{% url 'profile-show' pk=object.tagged_pets.first.owner.id %}">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="{{ object.tagged_pets.first.owner.profile.profile_picture }}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}

                        <h3>
                            {% if pet_photo.tagged_pets.first %}
                                <a href="{% url 'profile-show' pk=object.tagged_pets.first.owner.id %}">
                                    {% if object.tagged_pets.first.owner.email %}
                                       {{ object.tagged_pets.first.owner.email }}
                                    {% endif %}
                                </a>
                            {% endif %}
                            <br>

                            {% if photo.location %}
                                <span>{{ photo.location }}</span>
                            {% endif %}

                            <!-- !!! Only the owner of the pet has access to pet edit buttons !!! -->
                            {% if object.tagged_pets.first.owner == request.user %}
                                <div class="edit-delete-btns">

                                    <!-- Link to Edit Pet Photo Page -->
                                    <a href="{% url 'photo-edit' photo.pk %}">
                                        <img class="edit-img" src="{% static '/images/edit-pen-icon-6.jpg' %}"
                                             alt="edit button">
                                    </a>

                                    <!-- Link to Delete Pet Photo Page -->
                                    <a href="{% url 'photo-delete' pk=photo.pk %}">
                                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                                    </a>
                                </div>
                            {% endif %}

                        </h3>
                    </div>
                </div>

                <div class="imgBx" id="photo{{ photo.id }}">
                    <img src="{{ photo.photo.url }}" alt="post" class="cover">
                </div>

                <div class="bottom">
                    <div class="actionBtns">
                        <div class="left">

                            <span class="heart">
                                <a href="{% url 'like' photo.id %}">
                                    {% if photo.photolike_set.all %}
                                        <i class="fa-solid fa-heart" style="color: #ed4040;"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </a>
                            </span>

                            <a href="{% url 'share' photo.id %}">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                    </div>
                    <p class="likes">{{ photo.photolike_set.count }} likes</p>

                    {% for pet in photo.tagged_pets.all %}
                        <a href="{% url 'pet-show' pk=request.user.pk pet_slug=pet.slug %}">
                            <p class="message">
                                <b>{{ pet.name }}</b>
                            </p>
                        </a>
                    {% endfor %}

                    <a href="{% url 'photo-details' photo.id %}">
                        <p class="message">
                            <b>{{ photo.description }}</b>
                        </p>
                    </a>
                    <!-- End Tagged Pets Section-->

                    <!-- Date of Publication or edit of the Photo -->
                    <h5 class="postTime">{{ photo.publication_date }}</h5>

                    <!-- Start Comments Section -->
                    {% for comment in comments %}
                    <div class="comments">
                        <div class="top">
                            <div class="userDetails">
                                <div class="comment-data">
                                    <div class="profilepic">
                                        <div class="profile_img">
                                            <div class="image">
                                                <!-- User Profile Image -->
                                                <a href="{% url 'profile-show' pk=request.user.id %}">
                                                    <img src="{{ request.user.profile.profile_picture }}" alt="img8">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        {{ comment.text }}
                                    </p>
                                </div>
                                <span>{{ comment.date_time_of_publication }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Start Add Comments Section -->
                <div class="addComments">

                    <!-- Start Add Comments Form -->
                    <form method="post" action="{% url 'comment' photo.id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}